@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

:root{
	--bg-color: #053C5E;
    --primary-color: #37718E;
    --secondary-color: #8EE3EF;
    --teriary-color: #852825;
}

body {
    background-color: var(--bg-color);
    font-family: "Poppins", sans-serif;
    margin: 0;
}

header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.heading {
    cursor: pointer;
    color: var(--secondary-color);
}

.heading span {
    color: var(--bg-color);
}

.search {
    background-color: transparent;
    border: 2px solid var(--bg-color);
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.search::placeholder {
    color: var(--secondary-color);
}

.search:focus {
    background-color: var(--bg-color);
    outline: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    background-color: var(--primary-color);
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 300px;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: var(--bg-color);
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem
}

.movie-info span.green {
    color: rgb(39, 189, 39);
}

.movie-info span.var(--teriary-color) {
    color: var(--teriary-color);
}

.movie-info span.red {
    color: rgb(189, 42, 42);
}

.overview {
    background-color: rgba(255,255,255,0.8);;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overview h3 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
}

.pagination {
    display: flex;
    margin: 10px 30px;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.pagination.hidden {
    display: none;
}

.page {
    padding: 20px;
    cursor: pointer;
}

.page.disabled {
    cursor: not-allowed;
    color: grey;
}

.current {
    padding: 10px 20px;
    border-radius: 50%;
    background-color: var(--teriary-color);
    font-size: 16px;
    font-weight: 600;
}

#tags {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag {
    color: #fff;
    padding: 10px 20px;
    background-color: var(--teriary-color);
    border-radius: 50px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}

.tag.highlight {
    background-color: red;
}

@media only screen and (max-width: 500px) {
    .heading {
        font-size: 1.5rem;
    }

    .search {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 350px) {
    .heading {
        font-size: 1.3rem;
    }

    .search {
        font-size: 0.5rem;
    }
}